<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sme.be_sme.modules.onboarding.infrastructure.mapper.EventInstanceMapper">
  <insert id="insert" parameterType="com.sme.be_sme.modules.onboarding.infrastructure.persistence.entity.EventInstanceEntity">
    insert into event_instances (
      event_instance_id,
      company_id,
      event_template_id,
      event_date,
      source_type,
      source_department_ids,
      source_user_ids,
      participant_user_ids,
      status,
      created_by,
      created_at,
      updated_at
    )
    values (
      #{eventInstanceId,jdbcType=VARCHAR},
      #{companyId,jdbcType=VARCHAR},
      #{eventTemplateId,jdbcType=VARCHAR},
      #{eventDate,jdbcType=DATE},
      #{sourceType,jdbcType=VARCHAR},
      CAST(#{sourceDepartmentIds,jdbcType=VARCHAR} AS jsonb),
      CAST(#{sourceUserIds,jdbcType=VARCHAR} AS jsonb),
      CAST(#{participantUserIds,jdbcType=VARCHAR} AS jsonb),
      #{status,jdbcType=VARCHAR},
      #{createdBy,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP},
      #{updatedAt,jdbcType=TIMESTAMP}
    )
  </insert>
</mapper>
