spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 5
      minimum-idle: 2
      connection-timeout: 20000

jpa:
  hibernate:
    ddl-auto: validate
    show-sql: true

flyway:
  enabled: true
  baseline-on-migrate: true
  locations: classpath:db/migration

app:
  jwt:
    hmacSecret: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+"
    accessTtlSeconds: 3600

mybatis:
  mapper-locations: classpath*:mybatis/**/*.xml

logging:
  level:
    org.apache.ibatis: DEBUG
    org.mybatis: DEBUG

google:
  ai:
    gemini:
      api-key: AIzaSyAl3zW9MgvPY7LK8_I4G6srVOanVFIGor4

